.login-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background: #fff8f8;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(255, 182, 193, 0.2);
  text-align: center;
}

.login-container h2 {
  color: #ff6b6b;
  margin-bottom: 20px;
}

.login-container input {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  padding: 10px;
  border: 1px solid #fcbaba;
  border-radius: 8px;
}

.login-container button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 1000;
}

.login-container button:hover {
  background-color: #ff9ca6;
}
